
body{
margin=0;
padding=0;
}
.but {
	font-family: "ו";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	height: 24px;
	width: 80px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	line-height: 24px;
	text-align: center;
	letter-spacing: 2px;
}
